<?xml version="1.0" encoding="UTF-8" standalone="no"?><?pde version="3.8"?><target name="eu.megamart2.platform.target.2018-09">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="http://download.eclipse.org/releases/2018-09"/>
			<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="5.0.0.v20180530-1201"/>
			<unit id="org.eclipse.emf.sdk.feature.group" version="2.15.0.v20180905-1732"/>
			<unit id="org.eclipse.ocl.all.sdk.feature.group" version="5.6.0.v20180916-1223"/>
			<unit id="org.eclipse.ocl.examples.feature.group" version="6.5.0.v20180916-1223"/>
			<unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="4.1.0.201809120950"/>
			<unit id="org.eclipse.m2m.atl.sdk.feature.group" version="4.0.0.v201806041011"/>
			<unit id="org.eclipse.gmf.feature.group" version="1.12.0.201806010809"/>
		</location>
		<location path="/home/yosu/Projects/MegaMart/Git/org.eclipse.papyrus-moka/releng/org.eclipse.papyrus.moka.p2/target/repository" type="Directory"/>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.nebula.visualization.feature.feature.group" version="2.1.0.201804281520"/>
			<unit id="org.eclipse.nebula.widgets.xviewer.feature.feature.group" version="1.1.0.201804281520"/>
			<repository location="http://download.eclipse.org/nebula/releases/2.0.1"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.aspectj.feature.group" version="1.9.2.201811011643"/>
			<unit id="org.eclipse.ajdt.feature.group" version="2.2.4.201811011643"/>
			<unit id="org.eclipse.equinox.weaving.sdk.feature.group" version="1.2.0.201811011643"/>
			<repository location="http://download.eclipse.org/tools/ajdt/48/dev/update/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.9.2.v20180207-1730"/>
			<unit id="com.fasterxml.jackson.core.jackson-core" version="2.9.2.v20180207-1730"/>
			<unit id="com.github.jnr.constants" version="0.9.8.v20180207-1730"/>
			<unit id="com.github.jnr.enxio" version="0.16.0.v20180207-1730"/>
			<unit id="com.github.jnr.ffi" version="2.1.4.v20180207-1730"/>
			<unit id="com.github.jnr.jffi" version="1.2.15.v20180207-1730"/>
			<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20180820175350/repository"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="fr.inria.atlanmod.neoemf.core.feature.feature.group" version="1.0.2"/>
			<unit id="fr.inria.atlanmod.neoemf.data.berkeleydb.feature.feature.group" version="1.0.2"/>
			<unit id="fr.inria.atlanmod.neoemf.data.blueprints.core.feature.feature.group" version="1.0.2"/>
			<unit id="fr.inria.atlanmod.neoemf.data.blueprints.neo4j.feature.feature.group" version="1.0.2"/>
			<unit id="fr.inria.atlanmod.neoemf.data.blueprints.neo4j.wrapper.feature.feature.group" version="1.0.2"/>
			<unit id="fr.inria.atlanmod.neoemf.data.hbase.feature.feature.group" version="1.0.2"/>
			<unit id="fr.inria.atlanmod.neoemf.data.mapdb.feature.feature.group" version="1.0.2"/>
			<unit id="fr.inria.atlanmod.neoemf.io.feature.feature.group" version="1.0.2"/>
			<repository location="https://atlanmod.github.io/NeoEMF/releases/latest/plugin/"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.epsilon.core.feature.feature.group" version="1.5.1.201809302027"/>
			<repository location="http://download.eclipse.org/epsilon/updates/"/>
			<unit id="org.eclipse.epsilon.core.dt.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.emc.graphml.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.emf.dt.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.emf.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.eunit.dt.emf.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.evl.emf.validation.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.ewl.emf.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.ewl.gmf.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.uml.dt.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.uml.feature.feature.group" version="1.5.1.201809302027"/>
			<unit id="org.eclipse.epsilon.eugenia.feature.feature.group" version="1.5.1.201809302027"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.atlanmod.emfviews.feature.feature.group" version="0.3.0.201812101030"/>
			<unit id="org.atlanmod.emfviews.mel.feature.feature.group" version="0.3.0.201812101030"/>
			<unit id="org.atlanmod.emfviews.vpdl.feature.feature.group" version="0.3.0.201812101030"/>
			<repository location="https://www.atlanmod.org/updates/emfviews/snapshot"/>
		</location>
		<location path="/home/yosu/Projects/MegaMart/Git/platform/fr.inria.atlanmod.collaboro" type="Directory"/>
		<location path="/home/yosu/Projects/MegaMart/Git/platform/com.abstratt.eclipsegraphviz.repository-2.2.201606" type="Directory"/>
		<location path="/home/yosu/Projects/MegaMart/Git/platform/fr.inria.atlanmod.emftocsp.03-09-13" type="Directory"/>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<unit id="org.eclipse.gmf.tooling.feature.group" version="3.2.1.201409171321"/>
			<repository location="https://download.eclipse.org/modeling/gmp/gmf-tooling/updates/releases/"/>
		</location>
	</locations>
</target>