<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="eu.megamart2.platform.cheatsheets.category.main"
            name="Megamart Cheat Sheets">
      </category>
      <cheatsheet
            category="eu.megamart2.platform.cheatsheets.category.main"
            composite="false"
            contentFile="cheatsheet_example.xml"
            id="eu.megamart2.platform.cheatsheets.example"
            name="Megamart Example Cheat Sheet">
      </cheatsheet>
      <cheatsheet
            category="eu.megamart2.platform.cheatsheets.category.main"
            composite="false"
            contentFile="cheatsheet_neoemf.xml"
            id="eu.megamart2.platform.cheatsheets.neoemf"
            name="NeoEMF cheat sheet">
      </cheatsheet>
      <cheatsheet
            category="eu.megamart2.platform.cheatsheets.category.main"
            composite="false"
            contentFile="$nl$/cheatsheet_neoemf.xml"
            id="eu.megamart2.platform.cheatsheets.cheatsheet505931262"
            name="NeoEMF Cheat Sheet">
      </cheatsheet>
   </extension>

</plugin>
