<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="eu.megamart2.platform.cheatsheets.category.main"
            name="Megamart Cheat Sheets">
      </category>
      <cheatsheet
            category="eu.megamart2.platform.cheatsheets.category.main"
            composite="false"
            contentFile="cheatsheet_neoemf.xml"
            id="eu.megamart2.platform.cheatsheets.neoemf"
            name="NeoEMF cheat sheet">
      </cheatsheet>
      <cheatsheet
            category="eu.megamart2.platform.cheatsheets.category.main"
            composite="false"
            contentFile="cheatsheet_emf2csp.xml"
            id="eu.megamart2.platform.cheatsheets.cheatsheet_emf2csp"
            name="EMF2CSP cheat sheet">
      </cheatsheet>
      <cheatsheet
            category="eu.megamart2.platform.cheatsheets.category.main"
            composite="false"
            contentFile="cheatsheet_jtl.xml"
            id="eu.megamart2.platform.cheatsheets.cheatsheet_jtl"
            name="JTL cheat sheet">
      </cheatsheet>
      <cheatsheet
            category="eu.megamart2.platform.cheatsheets.category.main"
            composite="false"
            contentFile="$nl$/cheatsheet_veriatl.xml"
            id="eu.megamart2.platform.cheatsheets.cheat_veriatl"
            name="VeriATL cheat sheet">
      </cheatsheet>
      <cheatsheet
            category="eu.megamart2.platform.cheatsheets.category.main"
            composite="false"
            contentFile="$nl$/cheatsheet_moka.xml"
            id="eu.megamart2.platform.cheatsheets.cheatsheet_moka"
            name="Moka Extensions cheat sheet">
      </cheatsheet>
      <cheatsheet
            category="eu.megamart2.platform.cheatsheets.category.main"
            composite="false"
            contentFile="$nl$/cheatsheet_papyrus_aom.xml"
            id="eu.megamart2.platform.cheatsheets.cheatsheet_papyrus_aom"
            name="Papyrus for AOM cheatsheet">
      </cheatsheet>
   </extension>

</plugin>
